@charset "ISO-8859-1";
body{
    font-family: sans-serif;
    font-size: 1rem;
    font-weight: 400;
}

h1{
    color: #66bbff;
}

.botao{
    text-decoration: none;
    background-color: #66bbff;
    padding: 5px 10px 5px 10px;
    color: #f2f2f2;
    font-size: 1.2rem;
    font-weight: 700;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
}

.caixa{
    width: 320px;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #66bbff;
    border-radius: 5px;
}

#tabela{
    margin-top:30px;
    border-collapse: collapse;

}

#tabela th{
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
    background-color: #66bbff;
    color: #fff;
}
#tabela td
{
    border: 1px solid #ddd;
    padding: 10px;    
}